<p>
  <b>First name:</b>
  <%= @profile.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @profile.last_name %>
</p>

<% if User.find_by_id(@profile.user_id).stub == false %>
	<p>
	  <b>User name:</b>
	  <%= @profile.user_name %>
	</p>
<% end %>

<p>
  <b>Headshot:</b>
  <%= image_tag @profile.image_url(:thumb).to_s if @profile.image? %>
</p>