<div name ="small_profile">
	<div name = "sp_photo"> 			
		<%=image_tag profile.image_url(:thumb).to_s if profile.image? %> 
	  	<div name ="sp_name"> 
	  		<%=link_to profile.full_name, full_contact_profile_path(profile.user_name) %> 
	  	</div>
	</div>
</div>