<%= form_for Connection.new do |f| %>
  
<div class="field">
  <%= f.label :add_contact, "Add New Contact" %><br />
  <%= f.collection_select :contact_id, if current_user.contacts.count == 0 then Profile.list_profiles_to_add_when_no_others(current_user.id).default_profile_order else Profile.list_profiles_to_add(current_user.id).default_profile_order end, :user_id, :full_name, {}, {multiple: true, :include_blank => false} %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>

