<h1>Your Contacts</h1>

<table>
<% @connections.in_groups_of(7, false) do |connections| %>
  <tr>
    <% connections.each do |connection| %>
       <td>
       <%= render '/profiles/small_profile', :profile => connection.contact.profile %>
        <%= link_to 'Show', full_contact_profile_path(connection.contact.profile.id) %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>



<br />
<br />
<%= render "/connections/form" %>