<h1>Communication Dialog</h1>
<table>
  <tr>
    <th>To</th>
    <th>From</th>

    <th>Title</th>
    <th>Body</th>
    <th>System</th>
    <th>Task Type</th>
    <th>Sent</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= display_name(task.user_id) %></td>
    <td><%= display_name(task.sender_id) %></td>
    <td><%= task.title %></td>
    <td><%= task.body %></td>
    <td><%= task.system %></td>
    <td><%= task.task_type %></td>
    <td><%= display_stepped_datetime(task.transmitted_at) %></td>
    <td><%= link_to 'Show', task, query: "fo" %></td>
    <td><%= link_to 'Destroy', task, data: {confirm: 'Are you sure?'}, method: :delete %></td>
    <td><% if current_user.id == task.user_id then%> 
          <%= link_to 'Reply', new_task_path(:task => task) %> 
        <% end %></td>
  </tr>
<% end %>

</table>

