<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= label :user_id, "To" %><br />
    <%= f.collection_select :user_id, Profile.where(user_id: current_user.contacts.select("connections.contact_id")).default_profile_order, :user_id, :full_name, {}, {multiple: false, :include_blank => false} %> 
  </div>
 
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :value => if params[:action] == "reply" then  @show_task.title else @task.title end  %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.text_field :task_type, :value =>"EMail" %>
  </div>
  <div class="field">
    <%= f.text_field :system, :value =>"Fuse" %>
  </div>

  <div class="actions">
    <%= f.submit "Send Message" %>
  </div>
<% end %>







