<p>
  <b>To:</b>
 	<%= display_name(@show_task.user_id) %>
</p>
<p>
  <b>From:</b>
   	<%= display_name(@show_task.sender_id) %>
</p>

<p>
  <b>Title:</b>
  <%= @show_task.title %>
</p>
<p>
  <b>Body:</b>
  <%= @show_task.body %>
</p>

<% if @show_task.sent then %>
<p>
  <b>Date Sent:</b>
  <%= @show_task.sent_time %>
</p>
<% else %>
 <p>
  <b>Date Received:</b>
  <%= @show_task.sent_time %>
</p>
<% end %>
