<h1>Your Dashboard</h1>
<br/>
<%= link_to 'Sync All Messages', sync_all_path() %>
<br/>
<%= link_to 'New Message', new_task_path() %>
<br/>
<table>
  <tr>
    <th>From</th>
    <th>Title</th>
    <th>Body</th>
    <th>System</th>
    <th>Task Type</th>
    <th>Sent</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.sender.profile.full_name, full_contact_profile_path(task.sender.profile.id) %></td>
    <td><%= task.title %></td>
    <td><%= task.body %></td>
    <td><%= task.system %></td>
    <td><%= task.task_type %></td>
    <td><%= display_stepped_datetime(task.transmitted_at)%></td>

    <td><%= link_to 'Show', task, query: "fo" %></td>
    <td><%= link_to 'Destroy', task, :data => {:confirm => 'Are you sure?'}, method: :delete %></td>
    <td><% if current_user.id == task.user_id then%> 
          <%= link_to 'Reply', new_task_path(:task => task) %> 
        <% end %>
    </td>
  </tr>
<% end %>
</table>
<br />

