<h2>Settings</h2>

<h3>Integrations</h3>

<% if @integrations.count == 0 then %>
	<p>Sorry, you do not have any integrations.</p>
<% else %>
	<table>
	  <tr>
	  	<th>Name</th>
	  	<th>Status</th>
	    <th></th>
	  </tr>
	<% @integrations.each do |i| %>
	  <tr>
	  	<td><%= i.x_integration.name %></td>
	  	<td><%= i.status %></td>
	    <td><%= link_to 'Destroy', i, confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
	</table>
<% end %>
<br />

<br />

<%= render "/integrations/form"  %>