<%= form_for @new_integration do |f| %>
  
<div class="field">
  <%= f.label :x_integration_id, "Add New Integration" %><br />
  <%= f.collection_select :x_integration_id, XIntegration.all , :id, :name, {}, {multiple: true, :include_blank => false} %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>

