
<% if @integrations %>
  <% unless @integrations.empty? %>
    <p><strong>You can integrate the following services:</strong></p>
    <div class="integrations">
      <% for integration in @integrations %>
        <div class="integration">
          <%= image_tag "#{integration.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= url_provider(integration) %></div>
          <div class="uid"><%= integration.name %></div>
          <div class="uid">Sync:<%= Time.at(integration.last_sync).strftime("%m/%d/%Y %I:%M%p") %></div>

          <%= link_to "X", integration, :data => {:confirm => 'Are you sure you want to remove this integration option?'}, :method => :delete, :class => "remove" %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
  <br/>
  <br/>
  <br/>
  <p><strong>Add another service to integrate with:</strong></p>
<% else %>
  <p><strong>Integrate with one of these services:</strong></p>
<% end %>

<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>
<a href="/auth/google_oauth2" class="auth_provider">
  <%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %>
  Google
</a>
<a href="/auth/open_id" class="auth_provider">
  <%= image_tag "openid_64.png", :size => "64x64", :alt => "OpenID" %>
  OpenID
</a>
<div class="clear"></div>