<!DOCTYPE html>
<html>
<head>
  <title>FuseMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</br>
<ul class="hmenu">
  <li> <%= link_to 'Dashboard', '/dashboard#index' %></li> 
  <li> <%= link_to 'Profile', me_path() %></li> 
  <li> <%= link_to 'Contacts', '/contacts' %></li> 
  <li> <%= link_to 'Integrations', '/integrations' %></li> 
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>
<%= yield %>
<br />
<br />

</body>
</html>
